:host {
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  display: block; /* Custom Elements By default are inline styled so we make it block for margin and padding */
  width: 30rem;
  max-width: 100%;
  margin: 2rem;
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: 2px 2px 10px rgba(52, 73, 94, .50);
  background-color: white;
}

:host(.error) {
  border:2px solid var(--error-color, #e93a3a);
}

form {
  display: flex;
  align-items: center;
}

form input {
  font: inherit;
  color: var(--main-color, #34495e);
  padding: .1rem .25rem;
  width: 70%;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  color: var(--main-color, #34495e);
  padding: .25rem .5rem;
  border: 1px solid var(--main-color, #34495e);
  background-color: var(--main-color, #34495e);
  color: #fff;
  cursor: pointer;
  width: 30%;
}


form button:hover,
form button:active {
  background-color: var(--secondary-color, #212f3d);
  border-color: var(--secondary-color, #212f3d);
}

form button:disabled {
  border: 1px solid var(--disabled-color, #647383);
  background-color: var(--disabled-color, #647383);
  cursor: not-allowed;
}
