:host {
  --main-color: #34495e;

  font-family: sans-serif;
  display: block; /* Custom Elements By default are inline styled so we make it block for margin and padding */
  width: 20rem;
  max-width: 100%;
  margin: 2rem;
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: 2px 2px 10px rgba(52, 73, 94, .50);
  background-color: white;
}

form input {
  font: inherit;
  color: var(--main-color);
  padding: .1rem .25rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  color: var(--main-color);
  padding: .25rem .5rem;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}


form button:hover,
form button:active {
  background-color: #212f3d;
  border-color: #212f3d;
}

form button:disabled {
  border: 1px solid #647383;
  background-color: #647383;
  cursor: not-allowed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: .5rem 0;
  padding: .3rem;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  cursor: pointer;
}

li:hover,
li:active {
  background-color: var(--main-color);
  color: #fff;
}